@import "tailwindcss";




:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	/* color-scheme: light dark; */
	/* color: rgba(255, 255, 255, 0.87); */
	background-color: #F7F7F7;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.editSvg, .deleteSvg {
  stroke: #CDCDCD;
}
.deleteSvg:hover {
  stroke: #E50000;
  cursor: pointer;
}
.editSvg:hover {
  stroke: #6C63FF;
  cursor: pointer;
}
.editSvg:hover path {
  stroke: #6C63FF; /* Stroke color when hovering anywhere inside the SVG */
}
.deleteSvg:hover path {
  stroke: #E50000; /* Stroke color when hovering anywhere inside the SVG */
}

input[type=checkbox], input[type=checkbox]:checked {
  appearance: none;
  -moz-appearance:none;
  -webkit-appearance:none;
  -o-appearance:none;
}

input[type="checkbox"] {
  position: relative;
  /* border: 1px solid#6C63FF; */
}
input[type=checkbox]:checked{
    background-color: #6C63FF;
}
input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  top: 4px; /* Adjust this to center your tick */
  left: 5px; /* Adjust this to center your tick */
  width: 15px; /* Size of the tick icon */
  height: 15px; /* Size of the tick icon */
  background-image: url('/src/assets/check.svg'); /* Path to your custom tick image */
  background-size: contain;
  background-repeat: no-repeat;
}
input[type="checkbox"]:not(:checked)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #6C63FF; /* Border color */
  background-color: transparent;
  border-radius: 2px; /* Rounded corners */
}
.toast-progress-delete, .toast-progress-add, .toast-progress-update{
  background-color: white !important;
}
.Toastify__close-button {
  color: white !important; /* Change close icon color */
}
.montserrat {
  font-family: "Montserrat", sans-serif;
}

[data-theme="dark"] .darkBackground {
  background-color: #252525;
  color: #F7F7F7;
}
[data-theme="dark"] .darkColor {
  color: #F7F7F7;
}

[data-theme="dark"] .darkBorder {
  border: 1px solid;
  border-color: #F7F7F7;
}
[data-theme="dark"] .darkBorder1 {
  border-color: #6C63FF;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #252525;
}
.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #6C63FF #1e1e1e;
}








